<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row" id="craiglist-listings">
      <div class="col-md-12">
        <h3 class="heading">{{data.news_title}}</h3>
        <p>{{data.news_p}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-md-12">
        <h3>Featured Mars Image</h3>
        <img src="{{data.featured_image_url}}" alt="Featured Mars Image">
      </div>
      <div class="col-md-5 col-md-12">
        <h3>Mars Facts</h3>
        {{data.mars_facts | safe }}
      </div>
    </div>
    <div class="row">
      <h3>Mars Hemispheres</h3>
    </div>
    <div class="row">
      <ul style="list-style: none;">

        <!-- Loop through the dictionary -->
        
        {% for  dict_item in data.hemisphere_image_urls %}
          <li >
            <h3>{{ dict_item.title }}</h3>
            <img src="{{dict_item.image_url}}" alt = "{{dict_item.title}}">
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>
</body>

</html>